.popup{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    visibility: initial;
}