.profile__value-about{
    font-family: 'Inter-regular', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
    margin: 10px 0 0;
    padding: 0;
}

@media screen and (max-width: 600px){
    .profile__value-about{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}