.profile__name-holder{
    max-width: 415px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 600px){
    .profile__name-holder{
        justify-content: center;
    }
}