.popup__content{
    max-width: 430px;
    min-width: 282px;
    width: 100%;
    background: transparent;
    position: relative;
    padding: 40px;
}

@media screen and (max-width: 470px){
    .popup__content{
        padding: 45px 19px;
        margin: 0;
    }
}