.elements{
    max-width: 880px;
    min-width: 288px;
    display: grid;
    margin: 50px 200px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width: 400px){
    .elements{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        margin: 36px 19px 0;
    }
}