.profile__profile-info{
    max-width: 415px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 30px;
}

@media screen and (max-width: 960px){
    .profile__profile-info{
        margin: 30px 0 0;
    }
}